.delete-btn {
  margin-left: auto;
  fill: #bdbdbd;
  cursor: pointer;
}

.delete-all {
  background-color: #eb5757;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  width: 124px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
}
