.input-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  margin: 50px auto;
}

.input-section input {
  display: inline-block;
  width: 35vw;
  padding: 7px;
  height: 56px;
  outline: none;
  font-size: 24px;
  border: 1px solid #bdbdbd;
  border-radius: 25px;
}

.input-section button {
  display: inline-block;
  background: #2f80ed;
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  border-radius: 30px;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Montserrat';
  line-height: 17px;
  height: 70px;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  width: 10vw;
}
