.main-buttons {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #bdbdbd;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .main-buttons {
    flex-direction: column;
    width: 100vw;
    margin: 0;
  }
}
