.item {
  min-height: 70px;
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  width: 30px;
  height: 30px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

ul {
  text-align: left;
}
