h1 {
  width: 118px;
  height: 41px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.045em;
  color: #333333;
}

input {
  width: 476px;
  height: 56px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 12px;
}

ul {
  margin-right: auto;
  margin-left: 29.5%;
}

li {
  width: 199px;
  height: 22px;
  left: 446px;
  top: 273px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.buttons {
  border-bottom: 3px solid #bdbdbd;
  width: 608px;
  height: 0px;
  margin: 100px 0 50px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.active {
  width: 46px;
  height: 17px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin-bottom: 15px;
  border: none;
  background-color: #ffffff;
  outline: none;
}

.all {
  width: 100px;
  height: 17px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin-bottom: 15px;
  border: none;
  background-color: #ffffff;
  outline: none;
}

.completed {
  width: 81px;
  height: 17px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin-bottom: 15px;
  border: none;
  outline: none;
  background-color: #ffffff;
}

.add {
  width: 109px;
  height: 56px;
  background: #2f80ed;
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  border-radius: 12px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  outline: none;
  margin-left: 30px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
}

input[type='checkbox'] {
  width: 30px;
  height: 30px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

ul {
  text-align: left;
}
