@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px auto;
}

span {
  display: inline-block;
  margin-left: 20px;
}

.complete-task {
  text-decoration: line-through;
}

input[type='checkbox'] {
  display: inline-block;
  height: 30px;
  width: 30px;
}

li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 5px 0;
}

@media screen and (max-width: 600px) {
  ul {
    width: 100vw;
    margin: 0;
  }

  span {
    margin-left: 5px;
    font-size: 12px;
  }

  input[type='checkbox'] {
    height: 15px;
    width: 15px;
  }

  li {
    justify-content: flex-start;

    width: 100vw;
    margin: 5px 5px;
  }
}
